@use '../base/mixins' as m;
@use '../base/variables' as v;


figure{
    position: relative;

    svg{
        position: absolute;
        top: -16rem;
        height: 20rem;
        width: auto;
    }
}

.footer {
    background-color: v.$darkGrey;
    padding-bottom: 1rem;

}

.container-footer {
    padding-top: 4rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


    @media (max-width: 768px){
        flex-direction: column;
        align-items: center;
        gap: 5rem;
    }
}

.FAQ-section{
    margin: 0;
    width: fit-content;
    height: fit-content;
    display: grid;
    gap: 1rem;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);


    p{
        color: v.$light;
        margin: 0;
    }
}
