@use '../base/mixins' as m;
@use '../base/variables' as v;

.lineup{
    background-color: v.$pink;
    padding: 1.5rem 0;


    h3, p {
        text-align: center;
        color: v.$light;
    }

    .type-service{
        text-transform: uppercase;
        margin-bottom: 5rem;
    }
}

.services-container {
    @include m.tablet {

        @include m.grid(3, 5rem)

    }

    p {
        color: v.$dark;
    }

    .service {
        padding: 2rem;
        margin-bottom: 5rem;
        border-radius: 3rem;
        text-align: center;
    }
}

.bg-dark {
    background-color: v.$darkGrey;
    p{
        color: v.$light;
    }

}

.bg-light {
    background-color: v.$lightGrey;
    padding-right: 1rem;
    p{
        color: v.$dark;
    }
}

.price-range{
    font-weight: 700;
}