// typography
$main_font: 'Montserrat', sans-serif;

// colors
$pink: #F53756;
$darkGrey: #333333;
$lightGrey: #CCCCCC;
$dark: #000000;
$light: #FFFFFF;
$lightPink: #f396a5;
$whitePink: #fac8d0;
$h3-color: rgba(0, 0, 0, .1);

// dimens
$border-radius: 15px;
$separacion: 5rem;

// Media Queries
$tablet: 768px;
