//typography
$main_font: 'Montserrat', sans-serif;


// colors

$pink: #F53756;
$darkGrey: #333333;
$lightGrey: #777777;
$dark: #000000;
$light: #FFFFFF;

$verde: #4CB8B3;
$rosa: #F53756;
$rosaSuave: #f396a5;
$rosaBlanco:#fac8d0;

$amarillo: #FEF46D;
$morado: #752F97;
$negro: #000000;
$blanco: #FFFFFF;
$grisOscuro: #333333;
$grisClaro: #CCCCCC;
$h3-color: rgba(0,0,0,.1);

$border-radius: 15px;



$separacion: 5rem;

// Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;


